body {
  font-family: Arial, sans-serif;
  background-image: url("../assets/top-view-sterling-silver-earrings-with-swarovski-crystal-with-studs-black-wall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #ffffffef;
  margin-bottom: 20px;
}

.categories {
  max-width: 800px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  border-radius: 5px;
}

.dropdown {
  color: #000;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 18px;
  transition: background-color 0.3s;
  border-radius: 5px;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.301);
  backdrop-filter: blur(8px);
}

.dropdown:hover {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
}

.panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  border-radius: 5px;
  margin-top: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
}

.panel p {
  padding: 10px;
  margin: 5px 0;
  color: #0e0d0d98;
}
